# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.


# The language of the webpage › http://www.lingoes.net/en/translator/langcode.htm
# If it has the same name as one of the files in folder `_data/locales`, the layout language will also be changed,
# otherwise, the layout language will use the default value of 'en'.
lang: en

# Change to your timezone › http://www.timezoneconverter.com/cgi-bin/findzone/findzone
timezone: Israel

title: DiaCorpus Project
email: dsi@runi.ac.il
author: Data Science Institute
description: > # this means to ignore newlines until "baseurl:"
  A collaborative project between the Data Science Institute (DSI) and Israeli Innovation authority 
  to create a first of a kind Arabic textual repository, in a local dialect (Israeli / Palestinian).
  Part of the National Language Processing plan of Israel.

# Add your baseurl here (your repository) but DO NOT CHANGE THE LINE NUMBER without editing .circleci/circle_urls.sh
baseurl: "" # the subpath of your site, e.g. /blog

# This is mostly for testing
# url: "https://matans844.github.io" # the base hostname & protocol for your site

# -------------------------------------------------------------------------------------------
# Site publication location: Important!
# For deployment in staging repo, use the "matans844" repo.
# For deployment in production repo, use the "idc-dsi" reop.
url: "https://matans844.github.io" 
# url: "https://idc-dsi.github.io"
# -------------------------------------------------------------------------------------------

# Social (First three Required)
repo: "https://github.com/idc-dsi/DiaCorpus"
github_user: "idc-dsi"
github_repo: "DiaCorpus"
github_branch: "main"

# Optional
# twitter: vsoch
linkedin: "https://www.linkedin.com/in/avrahami-israeli"
# dockerhub: vanessa
other_web_address: "https://www.runi.ac.il/en/research-institutes/business/dsi" 
website_template: "https://github.com/vsoch/docsy-jekyll"

# These options are used to configure the locations of your version history when you want to serve versioned documents
version_params:
  version_menu: "Release"
  version_dir: Archive
  tocversion_dir: versions
  versioning: true

  # Disable so older versions cannot be searched
  allow_search: false  

  # Allow these versions to be searched
  search_versions:
    - Previous
  latest: Current
  versions:
    - Current
    - Previous

# Should there be feedback buttons at the bottom of pages?
feedback: false

# Link to a privacy policy in footer, uncomment and define if wanted
# privacy: https://domain.com/privacy

# google-analytics: UA-XXXXXXXXXX
# Image and (square) dimension for logo (don't start with /)
# If commented, will use material hat theme
# logo: "assets/img/logo/SRCC-square-red.png"
# logo_pixels: 34
color: "#30638e"
# color: "#8c1515" # primary color for header, buttons
# brandlogo : "{{ site.baseurl }}/assets/img/logo/DSI-logo-eng-white.svg"

# Build settings
markdown: kramdown

# If you add tags to pages, define this variable to link them to some external search
# If you want to link to tags locally on the site, leave this commented out
# tag_search_endpoint: https://ask.cyberinfrastructure.org/search?q=
tag_color: primary # danger, success, warning, primary, info, secondary

accentColor: red # purple, green, etc.
themeColor: red # purple, green, blue, orange, purple, grey
fixedNav: 'true' # true or false

permalink: /:year/:title/
# markdown: kramdown
exclude: [_site, CHANGELOG.md, LICENSE, README.md, vendor]

# People information for people grid
peoplePhotos: "assets/photos/people"

# Collections
collections:
  docs:
    output: true
    permalink: /:collection/:path

# Defaults
defaults:
  - scope:
      path: "_docs"
      type: "docs"
    values:
      layout: page
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: "posts"
      type: "posts"
    values:
      layout: "post"
