<div class="people-container">
    <div class="person">
      <img src="{{ site.baseurl }}/assets/photos/people/01_shai-fine.jpeg">
      <div class="person-name">
        <p>Shai Fine<a href="https://www.linkedin.com/in/shai-fine/"><i class="fab fa-linkedin"></i></a></p>
      </div>
    </div>
    <div class="person">
      <img src="{{ site.baseurl }}/assets/photos/people/02_avrahami-israeli.jpg">
      <div class="person-name">
        <p>Avrahami Israeli<a href="https://www.linkedin.com/in/avrahami-israeli/"><i class="fab fa-linkedin"></i></a></p>
      </div>
    </div>
    <div class="person">
      <img src="{{ site.baseurl }}/assets/photos/people/03_dr-yossi-mann.jpg">
      <div class="person-name">
        <p>Yossi Mann<a href="https://ict.org.il/ourteam/mann-yossi-dr/"><i class="fa fa-home"></i></a></p>
      </div>
    </div>
    <div class="person">
      <img src="{{ site.baseurl }}/assets/photos/people/04_dr-kfir-bar.jpg">
      <div class="person-name">
        <p>Kfir Bar<a href="https://www.linkedin.com/in/kfirbar/"><i class="fab fa-linkedin"></i></a></p>
      </div>
    </div>
    <div class="person">
      <img src="{{ site.baseurl }}/assets/photos/people/05_matan-sheskin.jpg">
      <div class="person-name">
        <p>Matan Sheskin<a href="https://www.linkedin.com/in/matan-sheskin/"><i class="fab fa-linkedin"></i></a></p>
      </div>
    </div>
    <div class="person">
      <img src="{{ site.baseurl }}/assets/photos/people/06_aviv-naaman.jpg">
      <div class="person-name">
        <p>Matan Sheskin<a href="https://www.linkedin.com/in/avivnaaman/"><i class="fab fa-linkedin"></i></a></p>
      </div>
    </div>
    <div class="person">
      <img src="{{ site.baseurl }}/assets/photos/people/07_raawa-makhoul.jpg">
      <div class="person-name">
        <p>Raawa Makhoul<a href="https://www.linkedin.com/in/rawaa-ma/"><i class="fab fa-linkedin"></i></a></p>
      </div>
    </div>
    <div class="person">
      <img src="{{ site.baseurl }}/assets/photos/people/08_julian-jubran.jpg">
      <div class="person-name">
        <p>Julian Jubran<a href="https://www.linkedin.com/in/julian-charbel-j/"><i class="fab fa-linkedin"></i></a></p>
      </div>
    </div>
    <div class="person">
      <img src="{{ site.baseurl }}/assets/photos/people/09_dana-karain.jpg">
      <div class="person-name">
        <p>Dana Karain<a href="https://www.linkedin.com/in/dana-karain-7a48601b0/"><i class="fab fa-linkedin"></i></a></p>
      </div>
    </div>
    <div class="person">
      <img src="{{ site.baseurl }}/assets/photos/people/10_eden-bokobza.jpg">
      <div class="person-name">
        <p>Eden Bokobza<a href="https://www.linkedin.com/in/eden-bokobza-35b368213/"><i class="fab fa-linkedin"></i></a></p>
      </div>
    </div>
    <div class="person">
      <img src="{{ site.baseurl }}/assets/photos/people/11_guy-maduel.jpg">
      <div class="person-name">
        <p>Guy Maduel<a href="https://www.linkedin.com/in/guy-maduel/"><i class="fab fa-linkedin"></i></a></p>
      </div>
    </div>
    <div class="person">
      <img src="{{ site.baseurl }}/assets/photos/people/12_matan-eblagon.jpg">
      <div class="person-name">
        <p>Matan Eblagon<a href="https://www.linkedin.com/in/eblagonmatan/"><i class="fab fa-linkedin"></i></a></p>
      </div>
    </div>
  </div>
  
  
  