<div class="people-container">
  {% for i in (1..12) %}
    {% assign person = site.data.people | where: "order", i | first %}
    {% if person %}
      <div class="person">
        <img src="{{ site.url }}/{{ site.peoplePhotos }}/{{ person.image }}" width="{{ person.width }}" height="{{ person.height }}" alt="{{ person.name }}">
        <div class="person-name">
          <p>{{ person.name }}</p>
          {% if person.link contains 'linkedin.com' %}
            <a href="{{ person.link }}"><i class="fab fa-linkedin"></i></a>
          {% else %}
            <a href="{{ person.link }}"><i class="fa fa-home"></i></a>
          {% endif %}
        </div>
      </div>
    {% else %}
      <div class="person filler"></div>
    {% endif %}
  {% endfor %}
</div>